<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.ssh.mapper.ActionLogMapper">
    <insert id="insertActionLog" parameterType="com.magic.ssh.entity.ActionLog" keyColumn="action_log_id"
            keyProperty="actionLogId" useGeneratedKeys="true">
        INSERT INTO ssh_action_log
        (action_id,exec_res,start_time,end_time,exit_status,status,reason,check_res)
        VALUES
        (#{actionId},#{execRes},#{startTime},#{endTime},#{exitStatus},#{status},#{reason},#{checkRes});
    </insert>
    <delete id="deleteActionLog">
        DELETE FROM ssh_action_log WHERE action_log_id IN
        <foreach collection="errLogIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryActionLog" resultType="com.magic.ssh.entity.ActionLog">
        SELECT * FROM ssh_action_log WHERE action_log_id=#{actionLogId}
    </select>

    <select id="queryLogsByIds" resultType="com.magic.ssh.entity.ActionLog">
        SELECT sal.*, sa.action_name,sh.hostname
        FROM	ssh_action_log sal
        LEFT JOIN ssh_action sa ON sal.action_id = sa.action_id
        LEFT JOIN ssh_host sh ON sa.host_id = sh.host_id
        WHERE action_log_id IN
        <foreach collection="actionLogIds" item="logId" separator="," open="(" close=")"  index="index">
            #{logId}
        </foreach>
    </select>

</mapper>