<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.ssh.mapper.SysRoleMapper">

    <resultMap id="roleMap" type="com.magic.ssh.entity.security.SysRole">
        <id property="roleId" column="id" />
        <result property="roleName" column="name" />
    </resultMap>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO sys_role(id,name) SELECT #{roleId},#{roleName} FROM DUAL
        where not exists (select name from sys_role where name = #{roleName} )
    </insert>

    <update id="updateRole">
        UPDATE sys_role SET name=#{roleName}  where id=#{roleId}
    </update>

    <delete id="deleteRole">
       DELETE form sys_role where id=#{roleId};
    </delete>

    <select id="getRoleById" resultType="com.magic.ssh.entity.security.SysRole" resultMap="roleMap">
        SELECT id,name from sys_role where id=#{roleId};
    </select>

    <select id="getAllRole" resultType="com.magic.ssh.entity.security.SysRole" resultMap="roleMap">
        SELECT id,name from sys_role;
    </select>
    <select id="getRoleByName" resultType="com.magic.ssh.entity.security.SysRole">
        SELECT id,name from sys_role where name=#{roleName};
    </select>
</mapper>